{% extends "base.html" %}
{% load static %}
<body>
	{% block header %}
		
	<div class="header">
		<div class="logo">
				<a  href="#s7" class="scroll">
					<img src="media/images/logo.png">
				</a>
		</div>
		<div class="h_right" >	
			<div class="subMenu2">
				<div class="wrap">
			 		<div class="inner">
				 		<a href="#" id="sTop" class="subNavBtn" style="text-decoration:none; color:white">VALUES</a> 
						<a href="#" id="s1" class="subNavBtn" style="text-decoration:none; color:white">WORKS</a>
						<a href="#" id="s2" class="subNavBtn" style="text-decoration:none; color:white">SKILLS</a>
						<a href="#" id="s6" class="subNavBtn end" style="text-decoration:none; color:white">CONTACT</a>
					</div>	
		    	</div>	
		   	</div>
		</div>
		<!-- end smart_nav * -->
		<div class="clear"></div>
	</div>

	{% endblock header %}
	{% block bio %}
		<div class="container" style="margin-top: 200px;">
			<div class="row">
				<div class="col-sm-12 col-md-12 user-details">
		            <div class="user-image">
		                <img src="/media/images/foto-own.png" alt="Borja M. Merchán" title="Borja M. Merchán" class="img-circle"  width="100px" height="100px">

		            </div>
		            <div class="user-info-block">
		                <div class="user-heading">
		                    <h3>Borja M. Merchán</h3>
		                    <span class="help-block">Seville, SPN</span>
		                </div>
		                <div class="user-body">

							<!--a ver-->
							<ul class="timeline">
								<li>
					          		<div class="timeline-badge success">
					          			<i class="fa fa-book"></i>
					          		</div>
					          		<div class="timeline-panel">
				          				<div class="timeline-heading">
							              	<h4 class="timeline-title">Bitnami Cloud Sysadmin Bootcamp</h4>
							              	<p><small class="text-muted"><i class="fa fa-calendar"></i> Feb. 2016 - (90 h)</small></p>
						            	</div>
						            	<div class="timeline-body">
						            		<ul>Advanced management of Linux systems.</ul>
						            		<ul>Security admin.</ul>
						            		<ul>Software distribution tools.</ul>
						            		<ul>Server deployment & maintenance: Apache, MySQL, Passenger and Apache Tomcat. </ul>
						            		<ul>Deployment on Cloud computing private systems: AWS, Azure and Google Compute Engine</ul>
						            		<ul>Management tools for software projects.</ul>
						            	</div>
						          	</div>
						        </li>
						        <li class="timeline-inverted">
						        	<div class="timeline-badge info">
						          		<i class="fa fa-university"></i>
					          		</div>
						          	<div class="timeline-panel">
						            	<div class="timeline-heading">
							              	<h4 class="timeline-title">Degree of Computer Engineering - Software Engineering at ETSII Seville</h4>
							              	<p><small class="text-muted"><i class="fa fa-calendar"></i> 2010 - 2014</small></p>
						            	</div>
						          	</div>
						        </li>
						        <li>
						        	<div class="timeline-badge warning">
						        		<i class="fa fa-certificate"></i>
						        	</div>
					          		<div class="timeline-panel">
						            	<div class="timeline-heading">
							              	<h4 class="timeline-title">Certification in development & management with Oracle database at ETSII Seville</h4>
							              	<p><small class="text-muted"><i class="fa fa-calendar"></i> Oct. 2011 - (21 h)</small></p>
						            	</div>
						            	<div class="timeline-body">
						            		<ul>Introduction to management systems Oracle Database.</ul>
						            		<ul>Creating Databases and Oracle Objects.</ul>
						            		<ul>Administration and Management DB Oracle.</ul>
						            		<ul>Tasks of an Oracle DBA.</ul>
						            		<ul>PL / SQL.</ul>
						            		<ul>Developing Applications with Oracle.</ul>
						            	</div>
						          	</div>
						        </li>
						        <li class="timeline-inverted">
						        	<div class="timeline-badge info">
						          		<i class="fa fa-plane"></i>
					          		</div>
						          	<div class="timeline-panel">
						            	<div class="timeline-heading">
							              	<h4 class="timeline-title">Erasmus Professional working at MJ Toland Co. (Northern Ireland).</h4>
							              	<p><small class="text-muted"><i class="fa fa-calendar"></i> May - Jun. 2010</small></p>
						            	</div>
						          	</div>
						        </li>
						        <li>
						        	<div class="timeline-badge success">
						        		<i class="fa fa-book"></i>
						        	</div>
					          		<div class="timeline-panel">
						            	<div class="timeline-heading">
							              	<h4 class="timeline-title">Higher certificate in computer systems development</h4>
							              	<p><small class="text-muted"><i class="fa fa-calendar"></i> 2008 - 2010 </small></p>
						            	</div>
						          	</div>
						        </li>
						    </ul>
		                </div>
		            </div>
		        </div>
			</div>
		</div>
	<!-- scroll_top_btn -->
		<a href="#" id="toTop" style="display: block;">
			<span id="toTopHover" style="opacity: 1;"></span>
		</a>
	{% endblock bio %}

	<script type="text/javascript">
		$(document).ready(function() {
			var defaults = {
	  			containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
	 		};
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
</body>

