{% load static %}


<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Borja M. Merchán</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		{% block custom_css %}
			<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
			<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
	        <link href="{% static 'css/style.css' %}" rel="stylesheet">
	        <link href="{% static 'css/slider.css' %}" rel="stylesheet">
	        <link href="{% static 'css/swipebox.css' %}" rel="stylesheet">
			<link href="{% static 'css/magnific-popup1.css' %}" rel="stylesheet">
			<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
			<link href="{% static 'css/lightbox.css' %}" rel="stylesheet"  media="screen">
			<link href="{% static 'css/header_style1.css' %}" rel="stylesheet"  media="all">
			<link href="{% static 'css/progress.css' %}" rel="stylesheet"  media="all">
		{% endblock custom_css %}
	</head>
	<body>
		<!-- start slider -->
	<div class="slider_bg s7">
		<!-- start main -->	
		<div id="da-slider" class="da-slider">
			<div class="da-slide">
			  <h2 class="title">PSD COaaaNCEPT</h2>
	          <h3 class="title">CREATIVE PORTFOLIO</h3>
	          <p class="description">WEB DESIGN . DEVELOPMENT . MARKETING</p>  
			</div>
			<div class="da-slide">
				<h2 class="title">PSD CONCEPT</h2>
		        <h3 class="title">CREATIVE PORTFOLIO</h3>
		        <p class="description">WEB DESIGN . DEVELOPMENT . MARKETING</p> 
			</div>
			<div class="da-slide">
				<h2 class="title">PSD CONCEPT</h2>
		        <h3 class="title">CREATIVE PORTFOLIO</h3>
		        <p class="description">WEB DESIGN . DEVELOPMENT . MARKETING</p> 
			</div>
			<div class="da-slide">
				<h2 class="title">PSD CONCEPT</h2>
		        <h3 class="title">CREATIVE PORTFOLIO</h3>
		        <p class="description">WEB DESIGN . DEVELOPMENT . MARKETING</p> 
			</div>	
			<div class="da-slide">
				<h2 class="title">PSD CONCEPT</h2>
		        <h3 class="title">CREATIVE PORTFOLIO</h3>
		        <p class="description">WEB DESIGN . DEVELOPMENT . MARKETING</p> 
			</div>
		</div>
 	</div>

 	<a  href="#values" class="button scroll"><img src="{% static 'images/arrow.png' %}"></a>	

 	<!-- start header -->
 	<div class="header">
 		<div class="logo">
 			<a  href="#s7" class="scroll"><img src="{% static 'images/logo.png' %}"></a>
 		</div>
		<!-- start top-nav-->
		<div class="h_right">	
			<div class="subMenu" >
				<div class="wrap">
			 	 <div class="inner">
			 		<a href="#" id="sTop" class="subNavBtn" style="text-decoration:none; color:white">VALUES</a> 
					<a href="#" id="s1" class="subNavBtn" style="text-decoration:none; color:white">WORKS</a>
					<a href="#" id="s2" class="subNavBtn" style="text-decoration:none; color:white">SKILLS</a>
					<a href="#" id="s6" class="subNavBtn end" style="text-decoration:none; color:white">CONTACT</a>
					<a href="{% url 'bio' %}" class="subNavBtn" style="text-decoration:none; color:white">BIO</a>
				  </div>
				   <!-- /.navbar-collapse -->
		             	<a id="s7" class="right-msg subNavBtn msg-icon"href="#"><span> </span></a>
		                <div class="clearfix"> </div>		
		    	</div>	
		   </div>

			<!-- start smart_nav * -->
		 	<nav class="nav">
	            <ul class="nav-list">
	                <li class="nav-item"><a href="#values">Values</a></li>
	                <li class="nav-item"><a href="#work" class="scroll">Works</a></li>
	                <li class="nav-item"><a href="#skills" class="scroll">Skills</a></li>           	               
	                <li class="nav-item"><a href="#contact"  class="scroll">Contact</a></li>
	                <div class="clear"></div>
	            </ul>
	    	</nav>
		<!-- end smart_nav * -->
		</div>
		<div class="clear"></div>
	  </div>
	  <!-- end-header-->

	  <!-- services -->
    
    <div class="services sTop" id="services">
	  	<div class="wrap">
	  		<h3>VALUES</h3>
			<div class="col_1_of_3 span_1_of_4">
				<img src="{% static 'images/service4.png' %}" alt="">
				<h4><a href="#">CUSTOM MEETINGS</a></h4>
			</div>
			<div class="col_1_of_3 span_1_of_4">
				<img src="{% static 'images/service1.png' %}" alt="">
				<h4><a href="#">PEREFCT CODING</a></h4>
			</div>
			<div class="col_1_of_3 span_1_of_4">
				<img src="{% static 'images/service2.png' %}" alt="">
				<h4><a href="#">CREATIVE DESIGN</a></h4>
			</div>
			<div class="col_1_of_3 span_1_of_4">
				<img src="{% static 'images/service3.png' %}" alt="">
				<h4><a href="#">AMAZING PROJECTS</a></h4>
					</div>
			 <div class="clear"></div>
   		</div>
   	</div>
   		
	<!-- start portfoli1 -->
   	<div class="portfoliO s1" id="work">
		<div class="wrap">	
			<h3>WORKS</h3>
			<div class="container"><!-- start container -->		 
	  			<!-- start h_menu -->
				<div class="h_menu">
					<ul class="flexy-menu thick orange">
		                <li class="active"> <span class="filter active" data-filter="app card icon web">VIEW ALL</span></li>
		                <li><span class="filter" data-filter="app  icon">ILLUSTRATION</span></li>
		                <li><span class="filter" data-filter="card ">LOGO</span></li>				            
		                <li><span class="filter" data-filter="icon app card ">THIPOGRAPHY</span></li>
		                <li><span class="filter" data-filter="web card icon">POSTER</span></li>
					</ul>
				</div>	<!-- end h_menu -->
			<!-- end smart_nav * -->
				<ul id="filters" class="clearfix">
					<li>
						<span class="filter active" data-filter="app card icon web">VIEW ALL</span>
					</li>
					<li>
						<span class="filter" data-filter="app  icon">eCommerce</span>
					</li>
					<li>
						<span class="filter" data-filter="web card icon">Web Catalog</span>
					</li>
				</ul>
						
				<div id="portfoliolist">
					<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">
							<a href="{% url 'index' %}">
								<img src="{% static 'images/port.jpg' %}" alt="Image 2" style="top: 0px;">
							</a>
						</div>
					</div>		

					<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">
							<a href="">
								<img src="{% static 'images/port_brico.png' %}" alt="Image 2" style="top: 0px;">
							</a>								
						</div>
					</div>

					<div class="portfolio web mix_all" data-cat="web" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">
							<a href="">
								<img src="{% static 'images/port_bike.png' %}" alt="Image 2" style="top: 0px;">
							</a>							
						</div>
					</div>

					<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">
							<a href="">
								<img src="{% static 'images/port_car.jpg' %}" alt="Image 2" style="top: 0px;">
							</a>
						</div>
					</div>

					<div class="portfolio web mix_all" data-cat="web" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">
							<a href="">
								<img src="{% static 'images/port_recamb.png' %}" alt="Image 2" style="top: 0px;">
							</a>
						</div>
					</div>

					<div class="portfolio web mix_all" data-cat="web" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper">
							<a href="">
								<img src="{% static 'images/port_wunder.png' %}" alt="Image 5" style="top: 0px;">
							</a>
						</div>
					</div>								
				</div>				
			</div>	
			<div class="img">
				<a href="{% url 'works' %}">
					<img src="{% static 'images/zoom.png' %}" alt="">
				</a>	
			</div>						
		</div>
	</div>

  	<!----start-team-members---->
	<div class="team-members s2" id="skills">
		<div class="ex-head">
			<h3>SKILLS</h3>
		</div>
		<div class="container">
			<div class="row">               
        		<div class="progress">
		            <div class="progress-bar" role="progressbar" style="width: 90%; background-color:#5cb85c">
		            </div>
		            <span class="progress-type">Django</span>
		        </div>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" style="width: 85%; background-color:#5bc0de">
		            </div>
		            <span class="progress-type">Spring IOC</span>
		        </div>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" style="width: 75%; background-color:#5F6382">
		            </div>
		            <span class="progress-type">Hibernate</span>
		        </div>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" style="width: 95%; background-color:#EFA210">
		            </div>
		            <span class="progress-type">Python</span>
		        </div>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" style="width: 95%; background-color:#E44CC9">
		            </div>
		            <span class="progress-type">Java</span>
		        </div>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" style="width: 60%">
		            </div>
		            <span class="progress-type">JavaScript / jQuery</span>
		        </div>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" style="width: 80%; background-color:#d9534f">
		            </div>
		            <span class="progress-type">CSS / CSS3</span>
		        </div>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" style="width: 85%; background-color:rgba(64, 38, 138, 0.86)">
		            </div>
		            <span class="progress-type">Bootstrap</span>
		        </div>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" style="width: 85%; background-color:#3B59F5">
		            </div>
		            <span class="progress-type">Maven</span>
		        </div>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" style="width: 95%; background-color:#DE654E">
		            </div>
		            <span class="progress-type">Git</span>
		        </div>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" style="width: 95%; background-color:#E44CC9">
		            </div>
		            <span class="progress-type">Oracle DB</span>
		        </div>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" style="width: 90%; background-color:#3C763D">
		            </div>
		            <span class="progress-type">MySQL</span>
		        </div>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" style="width: 95%; background-color:#DF8DFF">
		            </div>
		            <span class="progress-type">PostgreSQL</span>
		        </div>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" style="width: 70%; background-color:#3BE2F5">
		            </div>
		            <span class="progress-type">Docker</span>
		        </div>
		        <div class="progress">
		            <div class="progress-bar" role="progressbar" style="width: 65%; background-color:#82A1B1">
		            </div>
		            <span class="progress-type">Vagrant</span>
		        </div>
			</div>
		</div>
	</div>
	<!----//End-team-members---->

	<!----start-team-members---->

	<!----//End-team-members----> 

	<!---- fun ---->
	<div class="fun">
		<div class="wrap"> 
			<div class="fun-head">
				<h3>PERFECT WAY OF WORKING</h3>							
			</div>
			<div class="fun-head-grids">
				<div class="fun-head-grid">
					<img src="{% static 'images/fact1.png' %}" alt="" />
					<h5>DRINKING BLACK TEA</h5>						
				</div>
				<div class="fun-head-grid">
					<img src="{% static 'images/fact2.png' %}" alt="" />
					<h5>ALWAYS HAPPY</h5>					
				</div>
				<div class="fun-head-grid">
					<img src="{% static 'images/fact3.png' %}" alt="" />
					<h5>PLAYING GOOD MUSIC</h5>								
				</div>
				<div class="fun-head-grid">
					<img src="{% static 'images/fact4.png' %}" alt="" />
					<h5>IMPROVEMENT OF PROJECTS</h5>								
				</div>
				<div class="clear"> </div>
			</div>
		</div>
	</div>
	<!----//End-fun----> 
	
	<!-----logos---->	
	 <div class="logos"> 
	 	<div class="wrap"> 
		 	<ul>
		 		<li>
		 			<img src="{% static 'images/client6.png' %}" alt="" />
		 		</li>
		 		<li>
		 			<img src="{% static 'images/client7.png' %}" alt="" />
 				</li>
		 		<li>
		 			<img src="{% static 'images/client8.png' %}" alt="" />
		 		</li>
		 	</ul>
	 	</div>
	 </div>

	 <!-----cntact---->	
	<div class="contact s6" id="contact">
		<div class="wrap">
			<h3>CONTACT</h3>
	        <div class="contact_form">
	 	 	    <form method="post" action="contact-post.html">
			    	<span>
			    		<input type="text" value="NAME" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'NAME';}">
			    		<label>
			    			<img src="{% static 'images/con1.png' %}" alt="" />
			    		</label>
			    	</span>

			    	<span class="left">
			    		<input type="text" value="EMAIL" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'EMAIL';}">
			    		<label>
			    			<img src="{% static 'images/con2.png' %}" alt="" />
			    		</label>
			    	</span>

				    <div class="clear"></div>
	    				<span>
					    	<textarea placeholder="MESSAGE"></textarea>
				    	</span>
				   		<input type="submit" class="" value="Submit">
			    </form>
			 </div>
		</div>
	</div>
		   		 
 	<div class="map">
		<div style="text-decoration:none; overflow:hidden; height:400px; width:100%; max-width:100%;">
			<div id="embedded-map-display" style="height:100%; width:100%;max-width:100%;">
				<iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Calle+Doctor+Delgado+Roig,+Sevilla,+España&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
			</div>
			<a class="code-for-google-map" href="https://www.hostingreviews.website" id="grab-map-data">namecheap reviews</a>
			<style>#embedded-map-display img{max-width:none!important;background:none!important;}</style>
		</div>
		<script src="https://www.hostingreviews.website/google-maps-authorization.js?id=2f64382a-13e3-f034-7fd5-333225d901bd&c=code-for-google-map&u=1456916747" defer="defer" async="async"></script>
 	</div>
		   		  
  	<div class="signup">
     	<div class="form">	
			<span><label><img src="{% static 'images/msg.png' %}" alt="" /></label><input type="text" value="Your E-MAIL Please?" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your E-MAIL Please?';}"></span>
			<span><input type="submit" value="Sign Up Now" id="submit" name="submit"></span>
			<p>Promise I do not spam : )</p>
			<div class="clear"> </div>
	  	</div>
 	</div>
   		        
    <!----start-bottom-footer---->
	<div class="bottom-footer">
	    <div class="wrap">
			<div class="sicon">

				<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 text-center">
					<div class="icon-circle">
						<a href="#" class="ifacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
					</div>
				</div>
	     
				<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 text-center">
					<div class="icon-circle">
						<a href="#" class="itwittter" title="Twitter"><i class="fa fa-twitter"></i></a>
					</div>
				</div>
	      
				<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 text-center">
					<div class="icon-circle">
						<a href="#" class="igoogle" title="Google+"><i class="fa fa-google-plus"></i></a>
					</div>
				</div>
	      
				<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 text-center">
					<div class="icon-circle">
						<a href="#" class="iGithub" title="Github"><i class="fa fa-github"></i></a>
					</div>
				</div>
			</div>

		</div>
		<div class="bottom-footer-left">
			<p>Made with 
                            <i class="fa fa-heart" style="color:red"></i> 
                            and 
                            <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/29679-200.png" style="width:15px; height=20px:" alt="shisha"></p>
		</div>		  
		<div class="clear"> </div>
	</div>
	<!----//End-bottom-footer---->

	<!-- scroll_top_btn -->
	<a href="#" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"></span>
	</a>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 

    <script src="{% static 'js/modernizr.custom.28468.js' %}"></script>
	<script src="{% static 'js/jquery.cslider.js' %}"></script>
	<script src="{% static 'js/fliplightbox.min.js' %}"></script>
	<script src="{% static 'js/jquery.easing.min.js' %}"></script>
	<script src="{% static 'js/jquery.mixitup.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
	<script src="{% static 'js/jquery.lightbox.js' %}"></script>
	<script src="{% static 'js/jquery.smint.js' %}"></script>
	<script src="{% static 'js/responsive.menu.js' %}"></script>
	<script src="{% static 'js/flexy-menu.js' %}"></script>
	<script src="{% static 'js/jquery.flexisel.js' %}"></script>
	<script src="{% static 'js/move-top.js' %}"></script>

	
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>

	<script type="text/javascript">$(document).ready(function(){$(".flexy-menu").flexymenu({speed: 400,type: "horizontal",align: "right"});});</script>
										
	<!---End-image-cursuals---->
	<script type="text/javascript">
		$(window).load(function() {
	    	$(".flexiselDemo3").flexisel({
		        visibleItems: 5,
		        animationSpeed: 1000,
		        autoPlay: true,
		        autoPlaySpeed: 3000,            
		        pauseOnHover: true,
		        enableResponsiveBreakpoints: true,
		        responsiveBreakpoints: { 
		            portrait: { 
		                changePoint:480,
		                visibleItems: 1
		            }, 
		            landscape: { 
		                changePoint:640,
		                visibleItems: 2
		            },
		            tablet: { 
		                changePoint:768,
		                visibleItems: 3
		            }
		        }
	   		});
		});
	</script>

	<script type="text/javascript">
		$(function() {
		
			$('#da-slider').cslider({
				autoplay	: true,
				bgincrement	: 450
			});
		
		});
	</script>

	<!---//strat-slider---->
 	<!-- scroll -->
 	<script type="text/javascript">
		$(document).ready(function() {
			var defaults = {
	  			containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
	 		};
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>

	<!-- //scroll -->	
	<!-- start portfolios -->
	<script type="text/javascript">
		$('body').flipLightBox()
	</script>
		
	<script type="text/javascript">
		$(function() {
			var filterList = {
				init : function() {
					// MixItUp plugin
					// http://mixitup.io
					$('#portfoliolist').mixitup({
						targetSelector : '.portfolio',
						filterSelector : '.filter',
						effects : ['fade'],
						easing : 'snap',
						// call the hover effect
						onMixEnd : filterList.hoverEffect()
					});
				},
				hoverEffect : function() {
					// Simple parallax effect
					$('#portfoliolist .portfolio').hover(function() {
						$(this).find('.label').stop().animate({
							bottom : 0
						}, 200, 'easeOutQuad');
						$(this).find('img').stop().animate({
							top : -40
						}, 500, 'easeOutQuad');
					}, function() {
						$(this).find('.label').stop().animate({
							bottom : -40
						}, 200, 'easeInQuad');
						$(this).find('img').stop().animate({
							top : 0
						}, 300, 'easeOutQuad');
					});

				}
			};
			// Run the show!
			filterList.init();
		});
	</script>


 <!-- nav -->  
	<script type="text/javascript">
		$(document).ready( function() {
		    $('.subMenu').smint({
		    	'scrollSpeed' : 1000
		    });
		});
	</script>

	<script>
		window.addEventListener("load",function() {
		  setTimeout(function(){
		    window.scrollTo(0, 1);
		  }, 0);
		});
	</script>
</body>
</html>