{% extends "base.html" %}
{% load static %}
<body>
	{% block header %}
		
	<div class="header">
		<div class="logo">
				<a  href="#s7" class="scroll">
					<img src="media/images/logo.png">
				</a>
		</div>
		<div class="h_right" >	
			<div class="subMenu2">
				<div class="wrap">
			 		<div class="inner">
				 		<a href="{% url 'index' %}" class="subNavBtn" style="text-decoration:none; color:white">HOME</a>
						<a href="{% url 'bio' %}" class="subNavBtn" style="text-decoration:none; color:white">BIO</a>
						<a href="{% url 'works' %}" class="subNavBtn" style="text-decoration:none; color:white">WORKS</a>
					</div>	
		    	</div>	
		   	</div>
		</div>
		<!-- end smart_nav * -->
		<div class="clear"></div>
	</div>

	{% endblock header %}
	{% block bio %}
		<div class="container" style="margin-top: 200px;">
			<div class="row">
				<div class="col-sm-12 col-md-12 user-details">
		            
		            <div class="user-info-block">
		                <div class="user-body">
							<div class="row">
								<div class="col-md-6">
									<h2>Ssangyong web</h2>
									<img src="/media/images/port2.jpg" alt="">
								</div>
								<div class="col-md-6">
									<h2>Texto</h2>
									<div class="info" style="margin:20px">
										<p>Website specialized in trading of components and accessories for new cars of Ssangyong brand.</p>
										<p>Wide variety of products and exclusive dedication for you to feel comfortable when shopping with us.</p> 
									</div>
									<div class="technology" style="margin:10%">
										<span class="label label-success">Django</span>
										<span class="label label-warning">Python</span>
										<span class="label label-danger">HTML5/CSS3</span>
										<span class="label" style="background-color:rgba(64, 38, 138, 0.86)">Bootstrap</span>
										<span class="label label-info">SQLite</span>
									</div>
								</div>
							</div>
							<div class="clear-fix divider" style="margin-top:15px"></div>
							<div class="row">
								<div class="col-md-6">
									<h2>Better by bike</h2>
									<img src="/media/images/port2.jpg" alt="">
								</div>
								<div class="col-md-6">
									<h2>Texto</h2>
									<div class="info" style="margin:20px">
										<p>Bike rental website focused in the city of Seville.</p>
									</div>
									<div class="technology" style="margin:10%">
										<span class="label label-success">Django</span>
										<span class="label label-warning">Python</span>
										<span class="label label-danger">HTML5/CSS3</span>
										<span class="label" style="background-color:rgba(64, 38, 138, 0.86)">Bootstrap</span>
									</div>
								</div>
							</div>
							<div class="clear-fix divider" style="margin-top:15px"></div>
							<div class="row">
								<div class="col-md-6">
									<h2>Bricoshop</h2>
									<img src="/media/images/port2.jpg" alt="">
								</div>
								<div class="col-md-6">
									<h2>Texto</h2>
									<div class="info" style="margin:20px">
										<p>Hardware custom eCommerce shop.</p>
									</div>
									<div class="technology" style="margin:10%">
										<ul class="inline">
										<li><span class="label label-success">Django</span></li>
										<li><span class="label label-warning">Python</span></li>
										<li><span class="label label-info">PostgreSQL</span></li>
										<li><span class="label" style="background-color:#82A1B1">Full text search</span></li>
										<li><span class="label label-danger">HTML5/CSS3</span></li>
										<li><span class="label" style="background-color:rgba(64, 38, 138, 0.86)">Bootstrap</span></li>
										<li><span class="label" style="background-color:blue">Paypal</span></li>
										<li><span class="label" style="background-color:#DA78F9">Newsletter</span></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="clear-fix divider" style="margin-top:15px"></div>
							<div class="row">
								<div class="col-md-6">
									<h2>Carshop</h2>
									<img src="/media/images/port2.jpg" alt="">
								</div>
								<div class="col-md-6">
									<h2>Texto</h2>
									<div class="info" style="margin:20px">
										<p>Car parts custom eCommerce shop.</p>
									</div>
									<div class="technology" style="margin:10%">
										<ul class="inline">
										<li><span class="label label-success">Django</span></li>
										<li><span class="label label-warning">Python</span></li>
										<li><span class="label label-info">PostgreSQL</span></li>
										<li><span class="label" style="background-color:#82A1B1">Full text search</span></li>
										<li><span class="label" style="background-color:#3C763D">Car model filter</span></li>
										<li><span class="label label-danger">HTML5/CSS3</span></li>
										<li><span class="label" style="background-color:rgba(64, 38, 138, 0.86)">Bootstrap</span></li>
										<li><span class="label" style="background-color:blue">Paypal</span></li>
										<li><span class="label" style="background-color:#DA78F9">Newsletter</span></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="clear-fix divider" style="margin-top:15px"></div>
							<div class="row">
								<div class="col-md-6">
									<h2>WunderbareKlang</h2>
									<img src="/media/images/port2.jpg" alt="">
								</div>
								<div class="col-md-6">
									<h2>Texto</h2>
									<div class="info" style="margin:20px">
										<p>Free web based catalog for music and movies.</p>
									</div>
									<div class="technology" style="margin:10%">
										<ul class="inline">
										<li><span class="label label-success">Django</span></li>
										<li><span class="label label-warning">Python</span></li>
										<li><span class="label label-info">PostgreSQL</span></li>
										<li><span class="label" style="background-color:#82A1B1">Full text search</span></li>
										<li><span class="label" style="background-color:#3C763D">Car model filter</span></li>
										<li><span class="label label-danger">HTML5/CSS3</span></li>
										<li><span class="label" style="background-color:rgba(64, 38, 138, 0.86)">Bootstrap</span></li>
										<li><span class="label" style="background-color:blue">Paypal</span></li>
										<li><span class="label" style="background-color:#DA78F9">Newsletter</span></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="clear-fix divider" style="margin-top:15px"></div>
		                </div>
		            </div>
		        </div>
			</div>
		</div>
		<a href="#" id="toTop" style="display: block;">
			<span id="toTopHover" style="opacity: 1;"></span>
		</a>
	{% endblock bio %}

	<script type="text/javascript">
		$(document).ready(function() {
			var defaults = {
	  			containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
	 		};
			$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
</body>

